body{
	margin: 0;
	background-color: black;
	color: #F8F8F8;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.narrow-body{
	width: 700px;
	margin: 0 auto;
}

h2{
	margin: 0;
	font-weight: 300;
	text-align: center;
}

hr{
	border: none;
	height: 1px;
	background-color: #C0C0C0;
	margin: 10px auto 15px;
}

a{
	text-decoration: none;
	color: #E8E8E8;
}

a:hover{
	color: white;
}

.space-block{
	width: 100%;
	height: 70px;
}

.display{
	width: 100%;
	height: 300px;
	margin-top: 5px;
	position : relative;
}

.image-change{
	position: absolute;
	top: 0px;
	left: 200px;
}

.image-change img{
	width: 300px;
	height: 280px;
	border: 1px solid white;
	position: absolute;
	top: 0px;
	visibility: hidden;
}

header{
	padding-top: 50px;
	color: white;
	text-align: center;
	font-size: 105px;
	margin: 0 auto;
	width: 100%;
}

.sect-head{
	width: 100%;
	margin: 0 auto;
}

.that-flex{
	width: 100%;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.albums{
	width: 100%;
	margin: 0 auto;
}

.albums-list{
	color: #F8F8F8;
	list-style: none;
	padding: 0;
	margin: 0;
}

.albums-list li{
	display: inline-flex;
	padding: 0 55px 0;
}

.artists{
	width: 100%;
	margin: 0 auto;
}

.artist-list{
	color: #F8F8F8;
	list-style: none;
	padding: 0;
	margin: 0;
}

.artist-list li{
	padding: 0 25px 10px;
}