.nav{
	position: fixed;
	top: 15px;
	left: 25px;
}

.album-art{
	margin-bottom: 20px;
}

.album-art img{
	border: 1px solid white;
}

.album-art img, .soundcloud-album iframe{
	width: 500px;
	margin-left: 100px;
}

#oalbum{
	position: fixed;
	top: 180px;
	left: 25px;
}

.other-albums{
	position: fixed;
	top: 200px;
	left: 25px;
}

.nav li:not(:first-child) {
    font-size: 16px;
}

.other-albums{
    font-size: 16px;
}